{{#each posts as |post|}}
  <section class='container'>
    <header class='primary'>
      <h2>{{post.title}}</h2>
      <h3>Posted By {{post.user.username}}</h3>
    </header>
    <article class='content'> {{post.content}}</article>
  </section>

  {{#each post.comments as |comment|}}
    <section class='container'>
      <header class='primary'></header>
      <article class='content'>
        {{comment.comment_text}}
        <br />
        -
        {{comment.user.username}},{{comment.created_at}}</article>
    </section>
  {{/each}}
{{/each}}