{{#each posts as |post|}}
  <section class='container'>
    <header class='primary'>
      <a href='/post/{{post.id}}'>
        <h2>{{post.title}}</h2>
        <h3>Posted By {{post.user.username}}</h3>
      </a>
    </header>
    <article class='content'> {{post.comment_text}}</article>
  </section>

  {{#each post.comments as |comment|}}
    <section class='container'>
      <header class='primary'></header>
      <article class='content'>
        {{comment.comment_text}}
        <br />
        -
        {{comment.user.username}},{{comment.createdAt}}</article>
    </section>
  {{/each}}
{{/each}}